<!DOCTYPE html>
{% extends  'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacinia maximus tempus. Mauris hendrerit ac metus eget cursus. Maecenas varius tellus quis auctor facilisis. Nullam egestas nisi turpis, eget semper nisi convallis et. Duis blandit massa quis nunc scelerisque blandit. In hac habitasse platea dictumst. Nunc malesuada vulputate sem a finibus. Quisque non efficitur nisl. Sed fermentum lacus vitae nisi volutpat malesuada eget sed lectus. Sed vehicula ipsum sed diam ornare finibus. Pellentesque gravida ornare mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
Nam faucibus id eros sit amet molestie. Quisque interdum ultrices sem ac iaculis. Maecenas vestibulum quis justo in cursus. Quisque luctus dui vel tortor ultricies tristique. Sed consectetur ex viverra mattis eleifend. Vivamus quis fringilla tellus. In porta velit at consectetur pulvinar. Morbi porttitor lectus vel magna aliquet, eget euismod odio laoreet. Maecenas nibh neque, venenatis at libero ut, pharetra
{% endblock %}
</body>
</html>